<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Connection Group</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>Connection Group Application</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/add-node"> Add Node</a></li>
        <li><a href="/find-group"> Find Group </a> </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <h1> Create Group</h1>
  <form action="/create-group" method="post">
    <label for="groupName"> Group Name :</label>
    <input type="text" id="groupName" name="groupName" required>
    <button type="submit"> Create </button>
  </form>
  <div class="success"></div>
  <div class="error"></div>
</div>
<script th:src="@{/static/scripts.js}"></script>
</body>
</html>